
<div class="container">
    <h1 class="display-4">Login!</h1>
    <hr class="my-4">
    <div class="alert alert-danger" *ngIf="invalidLogin">{{errorMessage}}</div>

    <form (ngSubmit)="!loginForm.invalid && handleBasicAuth()" #loginForm="ngForm">
        <div class="form-group">
          <label for="username">User Name</label>
          <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter Username" autocomplete="off" [(ngModel)]="username" required>
          <small id="usernameHelp" class="form-text text-muted">We'll never share your Username with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="password" required>
        </div>
        
        <button type="submit" class="btn btn-success mr-2">Login</button>
        <button type="button" class="btn btn-secondary mr-2" (click)="handleClear()">Clear</button>
      </form>
</div>

