<div class="container">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Welcome <em><strong>{{name}}</strong></em>.</p>
    <hr class="my-4">
    <p>You can manage your todos here.</p>
    <a class="btn btn-primary btn-lg" routerLink="/todos" role="button">Manage Todos</a>
</div>

<hr class="my-4">

<div class="container">
    <p>Click here to get a customized welcome message</p>
    <button class="btn btn-success btn-lg" (click)="getWelcomeMessage()">Get Welcome Message</button>
</div>

<hr class="my-4" *ngIf="welcome_message_from_service">

<div class="container" *ngIf="welcome_message_from_service">
    <h5>Your Customized Welcome Message</h5>
    {{welcome_message_from_service}}
</div>